@CHARSET "UTF-8";

body	{font-family: 'Comic Sans MS', cursive;
		margin: 0}
		
h1		{font-size: 38px;
		margin-top: 0;
		margin-bottom: 0}
		
p	{color: #696969;
	font-size: 60px;
	font-weight: bold;
	text-shadow: 0 10px 5px #ffffff;
	text-align: center}
		
header	{font-weight: bold;
		text-shadow: 0 5px 5px #ffffff;
		border-bottom: solid 1px #aaaaaa;
		margin-bottom: 30px;
		-webkit-box-shadow: 0 1px 7px #aaaaaa;
		padding: 5px}
		
header a	{color: #000000;
			text-decoration: none}

body	{background-image: url(../photo.jpg);
		background-repeat: no-repeat;
		background-position: 50% 0;
		background-color: 87cefa}

article	{background-color: #ffffff;
		text-align: center;
		width: 500px;
		margin-left: auto;
		margin-right: auto;
		border: solid 1px #aaaaaa;
		padding: 30px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		margin-bottom: 15px;
		border-radius: 20px}

input#submit_buttona {width: 150px;
					 font-size: 18px;
					 font-weight: bold;
					 background-color: #00ff00;
					 border: solid 1px #aaaaaa;
					 box-shadow: 2px 2px 30px #aaaaaa;
					 -moz-box-shadow: 2px 2px 30px #aaaaaa;
					 -webkit-box-shadow: 2px 2px 30px #aaaaaa;
					 border-radius: 10px;
					 padding-top: 10px;
					 padding-bottom: 10px}

input#submit_buttonb {width: 150px;
					 font-size: 15px;
					 font-weight: bold;
					 background-color: #ff0000;
					 border: solid 1px #aaaaaa;
					 box-shadow: 2px 2px 30px #aaaaaa;
					 -moz-box-shadow: 2px 2px 30px #aaaaaa;
					 -webkit-box-shadow: 2px 2px 30px #aaaaaa;
					 border-radius: 10px;
					 padding-top: 10px;
					 padding-bottom: 10px}

input#submit_buttonc {width: 150px;
					 font-size: 15px;
					 font-weight: bold;
					 background-color: #ffd700;
					 border: solid 1px #aaaaaa;
					 box-shadow: 2px 2px 30px #aaaaaa;
					 -moz-box-shadow: 2px 2px 30px #aaaaaa;
					 -webkit-box-shadow: 2px 2px 30px #aaaaaa;
					 border-radius: 10px;
					 padding-top: 10px;
					 padding-bottom: 10px}

input#submit_buttond {width: 150px;
					 font-size: 15px;
					 font-weight: bold;
					 background-color: #00ff00;
					 border: solid 1px #aaaaaa;
					 box-shadow: 2px 2px 30px #aaaaaa;
					 -moz-box-shadow: 2px 2px 30px #aaaaaa;
					 -webkit-box-shadow: 2px 2px 30px #aaaaaa;
					 border-radius: 10px;
					 padding-top: 10px;
					 padding-bottom: 10px}
					 
table#tablea	{margin-left: auto;
				margin-right: auto}
					 
table#tablea th	{width: 60%;
				padding: 10px 10px 10px 20px;
				text-align: left}

table#tablea td	{width: 40%;
				padding: 10px 20px 10px 10px;
				text-align: left}
				
table#tableb	{margin-left: auto;
				margin-right: auto}
					 
table#tableb th	{width: 45%;
				padding: 10px 10px 10px 20px;
				text-align: left}

table#tableb td	{width: 55%;
				padding: 10px 20px 10px 10px;
				text-align: left}
				
table#botton	{margin-left: auto;
				margin-right: auto}
					 
table#botton th	{width: 50%;
				padding: 10px 10px 10px 10px}

table#botton td	{width: 50%;
				padding: 10px 10px 10px 10px}