<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
    id="WebApp_ID" version="3.1">
    
    <display-name>inventory-control</display-name>
    
    <!-- Settings for actions (*.do) -->    
    <context-param>
        <param-name>/login.do</param-name>
        <param-value>jp.co.comnic.javalesson.inventory.controller.LoginAction</param-value>
    </context-param>
    
    <context-param>
        <param-name>/edit.do</param-name>
        <param-value>jp.co.comnic.javalesson.inventory.controller.EditAction</param-value>
    </context-param>
    
    <context-param>
        <param-name>/new-account.do</param-name>
        <param-value>jp.co.comnic.javalesson.inventory.controller.NewAccountAction</param-value>
    </context-param>
    
    <context-param>
        <param-name>/new.do</param-name>
        <param-value>jp.co.comnic.javalesson.inventory.controller.NewAction</param-value>
    </context-param>
    
    <context-param>
        <param-name>/logout.do</param-name>
        <param-value>jp.co.comnic.javalesson.inventory.controller.LogoutAction</param-value>
    </context-param>
    
    <!-- Settings for JSP pages --> 
    <servlet>
        <servlet-name>Login</servlet-name>
        <jsp-file>/login.jsp</jsp-file>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Edit</servlet-name>
        <jsp-file>/edit.jsp</jsp-file>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Edit</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>NewAccount</servlet-name>
        <jsp-file>/new-account.jsp</jsp-file>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>NewAccount</servlet-name>
        <url-pattern>/new-account</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>New</servlet-name>
        <jsp-file>/new.jsp</jsp-file>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>New</servlet-name>
        <url-pattern>/new</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Logout</servlet-name>
        <jsp-file>/login.jsp</jsp-file>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    
</web-app>